.flexContainer {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.messagesContainer {
  background-color: #dadada;
  height: 90vh;
  min-width: 80%;
  text-align: left;
  font-size: calc(5px + 2vmin);
  overflow-y: auto;
  padding: 10px;
}

.usersContainer {
  border-style: dotted;
  border: 3px red;
  background-color: #dadada;
  height: 90vh;
  min-width: 20%;
  text-align: left;
  font-size: calc(5px + 2vmin);
  overflow-y: auto;
  padding: 10px;
}

.submitContainer {
  min-height: 5vh;
  min-width: 80%;
  text-align: left;
  font-size: calc(5px + 2vmin);
  padding: 10px 10px 3px 10px;
}

.disconnectContainer {
  min-height: 5vh;
  min-width: 20%;
  text-align: left;
  font-size: calc(5px + 2vmin);
  padding: 10px 10px 3px 10px;
}

.flex {
  display: flex;
}

.spanspace {
  padding-left:10px;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5mm;
}

ul {
  list-style-type:none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3mm;
}